<!DOCTYPE "html">
<html>
<head>
    <style>
        body { text-align: center; font: normal 1.2em/1.4em sans-serif; }
        img  { width: 10em; margin: 2em; }
    </style>
</head>
<body>
    <img src="whale.svg"/>
    <br/>
    Hello from {{ name }} / {{ fqdn }}!
</body>
</html>